
/* https://www.w3schools.com/css/css_float.asp */
.clearfix {
    overflow: auto;
}

.shortPost {
    background-color: #dddddd;
    padding: 10px;
    margin: 0 30px 0 0;
}

/* https://www.w3schools.com/howto/howto_css_image_responsive.asp */
.shortPost img {
    float: left;
    height: auto;
    width: 50%;
}

.shortPost ul {
    float: right;
    background-color: white;
}

.shortPost li {
}
